/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background: var(--background-decor);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-text-font), sans-serif;
  font-variation-settings: "wght" 410;
  font-size: var(--main-text-size);
}

.header {
  /* inline-size: 100vw; */
  /* align-items: center; */
  /* justify-content: center; */
  display: flex;
  margin: inherit;
  font-family: "PressStart2P-Regular";
  text-transform: uppercase;
}

.block-content {
  background-color: var(--main-fill-color);
  border: var(--block-borders);
  max-inline-size: clamp(
    23.4375rem,
    16.2852rem + 30.5164vw,
    43.75rem
  ); /* adaptive block inline-size */
}

.logo {
  display: flex;
  margin: 100px auto;
  line-height: 100%;
}

.logo__content {
  display: flex;
  flex-direction: column;
  padding-inline: clamp(0.875rem, -1.502rem + 10.141vw, 7.625rem);
  padding-top: clamp(122px, calc(calc(122px + 130px) / 2), 130px);
  padding-bottom: clamp(122px, calc(calc(122px + 130px) / 2), 130px);
  min-block-size: 100%;
  min-inline-size: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.logo__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 50px;
}

.logo__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
}

.content {
  display: flex;
  margin: inherit;
  justify-items: inherit;
  gap: var(--main-gap);
  flex-direction: column;
}

.card-article {
  display: flex;
  flex-direction: column;
}

.card-article__title {
  font-variation-settings: "wght" 700;
  display: flex;
  flex-wrap: nowrap;
  margin: 4px 10px;
  font-size: inherit;
}

.card-article__picture {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  border-block: var(--block-borders);
  box-sizing: border-box;
}

.card-article__content {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-block-size: 172px;
}

.card-article__description {
  font-size: inherit;
}

.card-article__description .card-article__text:not(:last-child) {
  margin-bottom: 25px;
}

.card-article__buttons-panel {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.card__icon-button {
  inline-size: 39px;
  block-size: 36px;
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.classic-button {
  border: var(--block-borders);
  font-family: var(--accent-text-font);
  font-size: 14px;
  line-height: 90%;
  display: flex;
  cursor: pointer;
  position: relative;
  justify-items: center;
  align-items: center;
  box-shadow: 2px 2px 0 transparent;
  transition: box-shadow 0.3s ease;
  background: var(--main-fill-color);
}

/* Button like animation */

.classic-button-animation svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.classic-button-animation:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.classic-button-animation:hover:after {
  transform: scaleX(1);
}

.classic-button:focus {
  outline: none;
}

.classic-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 rgb(0 0 0 / 1);
  transition: 0.3s ease;
}

.card__icon-button {
  inline-size: 38px;
  block-size: 38px;
  box-sizing: border-box;
  border: solid 2px transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: var(--block-borders);
  transition: 0.3s ease;
}

/* Footer stylisation */

.footer {
  position: relative;
  display: flex;
  margin: inherit;
  padding: 50px 0 100px;
}

.footer__save-button {
  padding: 17px;
  block-size: 55px;
  inline-size: clamp(306px, 93vw, 335px);
  gap: 8px;
  line-height: 90%;

  @media (width <=376px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    block-size: 85px;
    padding: 17px 0;
  }
}

.button__text {
  position: relative;
  margin: auto;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 10;
}

.modal {
  position: fixed;
  text-transform: uppercase;
  margin: 0;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  inline-size: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  min-block-size: 191px;
  align-content: space-between;
  border: var(--block-borders);
  padding: 30px;
  font-family: var(--accent-text-font);
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__description {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 150%;
  flex-direction: row;
  text-wrap: wrap;
}

.modal__text {
  max-inline-size: 202px;
}

.modal__button {
  inline-size: 100%;
  min-block-size: 38px;
  text-transform: uppercase;
}

.icon {
  color: #fff;
  mix-blend-mode: difference;
}

.icon-big {
  width: 200px;
  color: red;
}

.icon-big-xl {
  width: 500px;
  color: blue;
}
