/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Fonts variables */
  --main-text-font: "Inter-Variable";
  --accent-text-font: "PressStart2P-Regular";
  --main-text-size: 18px;

  /* Color variables */
  --background-decor:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --heart-fill: #ff0000;
  --heart-sparcles: #ff0000;
  --accent-color: #000;
  --main-fill-color: #fff;

  /* Size variables */
  --main-gap: 50px;
  --block-borders: solid 2px #000;
}
